// 底部加上阴影
.shade-1 {
  box-shadow: 0 1px 2px 0 #E2E2E2;
}

// 单行溢出隐藏
.text-overflow {
  text-overflow: ellipsis;white-space: nowrap;overflow: hidden;
}

// 块区域
.chunk {
  background: white;
}

// 调整到0的位置
.zero {
  margin: 0;
  padding: 0;
}

// 强制调整到0的位置
.zeroed {
  margin: 0!important;
  padding: 0!important;
}

// 文字无法被选中
.unselect {
  -moz-user-select:none;/*火狐*/
  -webkit-user-select:none;/*webkit浏览器*/
  -ms-user-select:none;/*IE10*/
  -khtml-user-select:none;/*早期浏览器*/
  user-select:none;
}

.box {
  background-color: #fff;
  padding: 10px;
  margin: 0 0 20px 0;
  -webkit-box-shadow: 0 0.2em 0 0 #ddd, 0 0 0 1px #ddd;
  box-shadow: 0 0.2em 0 0 #ddd, 0 0 0 1px #ddd;
}

.padding-sm {
  padding: 10px;
}

.padding-md {
  padding: 15px;
}

.padding-lg {
  padding: 30px;
}

.empty-block {
  margin: 10px;
  line-height: 60px;
  color: #ccc;
  text-align: center;
}