// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
// markdown
@import "markdown";

//类 --加上阴影
.shade-1 {
  box-shadow: 0 1px 2px 0 #E2E2E2;
}

// 类 --溢出隐藏
.text-overflow {
  text-overflow: ellipsis;white-space: nowrap;overflow: hidden;
}

section, article {
  background: white;
}


#app.index-page {
  // 文章预览部分
  article {
    overflow: hidden;
    padding: 10px;
    margin-bottom: 25px;
  }
}